:root {
  --button-background: #ff6700;
  --landing-color: #ffffff;
  --button-hover: #c85100;
  --box-text: rgba(37, 37, 37, 0.8);
  --box-title: #424244;
  --blog-text: #424244;
  --list-backround: #e0e0e0;
  --header-background: #eae9e9;
}

.select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  padding: 8px 20px;
  gap: 77px;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .select {
    padding: 20px 30px;
    border-radius: 20px;
  }
}
@media (min-width: 1720px) {
  .select {
    padding: 30px 50px;
    border-radius: 20px;
  }
}
